# Configuración de Base de Datos (Requerido)
# Debes crear una base de datos PostgreSQL local o usar un servicio en la nube (como Supabase o Neon)
DATABASE_URL="postgresql://usuario:contraseña@localhost:5432/nombre_de_tu_base_de_datos"

# Configuración de Autenticación (Requerido para que funcione el Login)
# Puedes generar uno rápido corriendo en la terminal: openssl rand -base64 32
NEXTAUTH_SECRET="un_texto_secreto_muy_seguro"
NEXTAUTH_URL="http://localhost:3000"

# --- Variables Opcionales (Solo si vas a usar esas funciones) ---
# Credenciales para envío de correos (Ejemplo: Gmail con contraseña de aplicación)
# EMAIL_USER="tu_correo@gmail.com"
# EMAIL_PASS="tu_contraseña_de_aplicacion"

# Configuración de imágenes en la nube (Cloudinary)
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME="tu_cloud_name"
